.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    align-items: flex-start;
  }

  &__title {
    margin-top: 50px;
    text-align: center;
    background-color: black;
    width: 80vw;
    color: $colorBlue;
    font-size: 2.4rem;
    border-radius: 10px;
    @media (min-width: 768px) {
      margin: 20px;
      text-align: start;
    }
  }
  &__search {
    display: flex;
    gap: 10px;
    margin: 20px;
    &--input {
      padding: 5px;
      border-radius: 10px;
      border: 2px solid $colorBlue;
      background-color: black;
      color: white;
    }
    &--btn {
      padding: 7px;
      width: 70px;
      background-color: $colorBlue;
      color: white;
      border-radius: 5px;
      border: none;
      box-shadow: 2px 2px 3px (black);
    }
  }
}
