.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 20px;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.fav {
  border: 2px solid $colorPink;
  border-radius: 10px;
  width: 90vw;
  @media (min-width: 768px) {
    width: 40vw;
  }
  &__title {
    background-color: $colorPink;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
  }
  &__section {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 8px;
    overflow-x: auto;
    @media (min-width: 768px) {
      flex-direction: column;
      overflow-x: hidden;
    }
    &--series {
      width: 75px;
      img {
        width: 75px;
      }
      @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        margin: 10px;
        img {
          height: 90px;
        }
        h4 {
          width: 100px;
          color: $colorPink;
        }
      }
    }
  }
  &__resetBtn {
    background-color: $colorPink;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;

    &:hover {
      background-color: black;
      color: $colorPink;
      border: 2px solid $colorPink;
    }
  }
}

.result {
  border: 2px solid white;
  border-radius: 10px;
  width: 90vw;
  &__title {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    padding: 10px;
  }
  &__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;
    padding: 10px;
    &--series {
      width: 100px;
      @media (min-width: 768px) {
        width: 150px;
      }
      img {
        width: 90px;
        @media (min-width: 768px) {
          width: 140px;
        }
      }
    }
  }
}

.favorite {
  border: 4px solid rgb(116, 244, 248);
  border-radius: 5px;
  color: rgb(116, 244, 248);
}
.quitList {
  background-color: $colorPink;
  border-radius: 50px;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}
